.offers{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c8a79b;  /* Light brown background */
    padding: 40px;
    gap: 20px;
    margin: 150px 20px;
    height: 59.5vh;
    width: auto;
}
.offers-left{
   
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.offers-left h1{
    flex: 1;
    text-align: left;

}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 500;

}
.offers-left button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #ff4a4a;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}
